@tailwind base;
@tailwind components;
@tailwind utilities;
  

body{
  background-color: #f3e5d8;
}

.whitebox{

  width: 40vw;
  height: fit-content;
}

.pink{
  background-color: #fff8fc;
  width: 35vw;
  height:fit-content;
}
.pinkt{
  color: #bc066d;

}

*{
  font-family: sans-serif;
}

table{
  width: 20vw;
}
